.test{
  font-family:sans-serif;
  color:red;
}

.window-holder{
  border: 10px black solid;
  height: 500px;
  width:500px;
}

.feedback-holder{
  border-bottom: 10px black solid;
  height: 100px;
  width:500px;
}

.submission-holder{
  text-align: center;
}

.counter-holder{
  text-align: center;
}

.pastguess-holder{
  border-top: 10px black solid;
  height: 100px;
  width:500px;
}